import java.util.Scanner;
public class bolumVeKalanHesaplama {
    public static void main(String[] args) {

        Scanner input=new Scanner(System.in);

        System.out.print("Bölünen Sayıyı Giriniz: ");
        int bolunen= input.nextInt();

        System.out.print("Bölen Sayiyi Giriniz: ");
        int bolen= input.nextInt();

        int bolum= bolunen / bolen;
        int kalan= bolunen % bolen;

        System.out.println("Bölüm: " +bolum);
        System.out.println("Kalan: " +kalan);

    }
}
